<!DOCTYPE html> 
<html> 
<head> 
  <title>EvE</title> 
  <link rel='stylesheet' href='/stylesheets/jquery-ui.css' type='text/css' media="screen"/> 
  <link rel='stylesheet' href='/stylesheets/editor.css' type='text/css' media="screen"/> 
  <% @javascripts.each do |file| %>
    <script type="text/javascript" charset="utf-8" src="<%= "#{file}" %>"></script>
  <% end %>
  
  <script type="text/javascript" charset="utf-8">
    var engine = null;
    $(document).ready(function () {
      
      engine = new EvE("#screen");
      engine.debug = true;
      
      var editor_stage = new EditorStage("/maps/test_compresed.tmx");
      engine.stageManager.start(editor_stage);
    });
  </script>
</head> 
<body> 

<div id="toolbar" class="ui-widget-header">
  <button id="new">New</button>
  <button id="open">Open</button>
  <button id="save">Save</button>
  
  <span id="brush">
    <input type="radio" id="pencil" name="brush" checked="checked" /><label for="pencil">Pencil</label>
    <input type="radio" id="fill" name="brush" /><label for="fill">Fill</label>
  </span>

  <span id="scale">
    <input type="radio" id="scale1" name="scale" checked="checked" value="1.0" /><label for="scale1">1/1</label>
    <input type="radio" id="scale2" name="scale" value="0.75" /><label for="scale2">1/2</label>
    <input type="radio" id="scale3" name="scale" value="0.5" /><label for="scale3">1/4</label>
    <input type="radio" id="scale4" name="scale" value="0.2" /><label for="scale4">1/8</label>
  </span>
</div>

<div class="sidebar">
  
  <div class="top">
    <ul id="waypoints" class="list"></ul>
  </div>
  <div class="bottom" id="inspector">
    <fieldset id="" class="">
      <legend>Waypoint Propeties</legend>
      <label for="waypoint_name">Name</label><input type="text" name="" value="Waypoint 1" id="waypoint_name"/><br />
      
      <label for="waypoin_position">Position</label><input type="text" name="point_x" value="0:0" id="waypoin_position"/><br/>
      <label for="waypoint_type">Type</label>
      <select id="waypoint_type">
        <option value="0">Point</option>
        <option value="1">Path</option>
        <option value="2">Spawn Point</option>
      </select><br/>
      <div id="control_points">
        <label for="waypoint_control_point1">Control Point 1</label><input type="text" name="" value="0:0" id="waypoint_control_point1"/><br/>
        <label for="waypoint_control_point2">Control Point 2</label><input type="text" name="" value="0:0" id="waypoint_control_point2"/><br/>
      </div>
      <button id="delete_current_waypoint">Delete Current Waypoint</button>
    </fieldset>
    
    <fieldset id="" class="">
      <legend>Connections</legend>
      <label for="waypoint_parent">Parent</label>
      <select id="waypoint_parent">
        <option>None</option>
      </select><br/>
      <label for="waypoint_children">Children</label>
      <select multiple="multiple" id="waypoint_children">
        <option>None</option>
      </select>
      
      <button id="delete_waypoint">Delete Waypoint</button>
    </fieldset>
  </div>
</div>

<div class="content">
  <canvas id="screen" width="800" height="600"></canvas>  
</div>
<div class="scroller_emulator">
  <div></div>
</div>
<div class="clear"></div>
<div style="display:none">
  <div id="open_dialog">
    <ul class="list" id="files_to_open">
      <li>Test.tmx</li>
    </ul>
  </div>
</div>
</body> 
</html> 